section#main-content.text-center
			img(src='images/logo.jpg')
			h1 FUTURE IMPERFECT
			p ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HTML5 UP
			.container.main-content-area
				.row
					.col-md-8
						h2 MAGNA SED ADIPISCING
						p LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
					.col-md-4.text-right
						h3 NOVEMBER 1, 2015
						p JANE DOE
							img(src='images/avatar.jpg')
				.row
					.col-md-12
						img.hero(src='images/pic01.jpg')
						p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
						.row
							.col-md-8
								.btn.btn-primary CONTINUE READING
							.col-md-4
								ul.nav.nav-pills.navbar-right
									li: a(href="#") GENERAL
									li: a(href="#") 
										i.fa.fa-heart
										span  28
									li: a(href="#")
										i.fa.fa-comment
										span  28
			nav
				ul.pager
					li: a(href="#") 
						i.fa.fa-angle-left
						span  PREVIOUS
					li: a(href="#")
						span NEXT 
						i.fa.fa-angle-right